<% layout("/layouts/boilerplate") %>

<div class="row">
<div class="alert alert-danger col-5 offset-0  position-absolute top-50 start-50 translate-middle" role="alert">
   <p class="alert-heading"><%= message %></p>
  </div>
</div>