body {
    font-family: "Maven Pro", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700;
    /* font-style: normal; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 4rem;
    background-color: white;
}

.navbar-brand i {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: black !important;
}

.f-info-links {
    width: 100%;
}

.f-info-socials {
    width: 100%;
    font-size: 1.2rem;
}

.f-info-socials i {
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
    margin-left: 0.50rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card p {
    font-weight: 400;
}

.list-links {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.show-img {
    height: 30vh;
    object-fit: cover !important;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

#map {
    height: 350px;
    width: 80vh;
}